{% extends 'layouts/base.html' %}

{% block title %} Edit Category  {% endblock %}
{% block body %}
  <!-- Start Body -->
  <div class="container ">
    <h3 class="py-3 m-0 mt-3">Edit Category Number : {{category.id}}</h3>
          <form method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="productName" class="form-label">Name</label>
    <input type="text"  name='name' value="{{category.name}}" class="form-control" id="productName" aria-describedby="productName">
  </div>

  <button type="submit" class="btn btn-primary mb-5">Submit</button>
</form>

  </div>

  <!-- End Body -->
{% endblock %}
